@font-face {
    font-family: 'proxima_novabold';
    src: url('../assets/fonts/proximaNova/proximanova-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximaNova/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('../assets/fonts/proximaNova/proximanova-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximaNova/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novathin';
    src: url('../assets/fonts/proximaNova/proximanova-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximaNova/proximanova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_abold';
    src: url('../assets/fonts/proximaNova/proximanovaa-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximaNova/proximanovaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_aregular';
    src: url('../assets/fonts/proximaNova/proximanovaa-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximaNova/proximanovaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sbold';
    src: url('../assets/fonts/proximaNova/proximanovas-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximaNova/proximanovas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sregular';
    src: url('../assets/fonts/proximaNova/proximanovas-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximaNova/proximanovas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body, textarea {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/*  =============  GENERAL  ==============  */

/*Header*/

h1 {
  color: white;
  font-size: 63px;
  font-weight: 600;
}

h2 {
  color: white;
  font-size: 51px;
  letter-spacing: 4px;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  color: white;
}

p {
  font-size: 38px;
  color: white;
  font-weight: lighter;
  line-height: 1.7;
}

aside.home_click {
  right: 65px;
  top: 266px;
  display: none;
  z-index: 1;
  position: absolute;
  padding: 34px 50px;
  text-align: center;
  z-index: 2;
}

aside.home_click img {
  height: 68px;
}

aside.home_click h3 {
  margin-bottom: 0px;
  margin-top: 22px;
  color: #E9D66B;
}

.button {
  padding: 45px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
}

.reverse {
  background-color: white !important;
  color: #5d891b !important;
}


.qr_message {
  display: none;
  background-image: url('http://cognizant.com/content/dam/cognizant_foundation/Dotcomimage/lillypad-mesh.svg');
  background-color: white;
  background-size: cover;
  position: absolute;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 56px #8080805e;
}

.qr_message img {
  padding: 0 !important;
  height: 141px !important;
  margin-top: 21px !important;
  margin-bottom: 20px;
}

.qr_message p {
  font-size: 38px;
  color: #010101;
  font-weight: lighter;
  margin-top: 0;
}

#share_alert img {
  width: 300px;
}

.small_img {
  width: 400px;
  height: 216px;
  position: absolute;
  bottom: 170px;
  z-index: 2;
}


.small_check {
  z-index: 2 !important;
  height: 556px !important;
}

.small_check_img {
  width: 150px !important;
}

#share_alert h3, #donation_alert h3 {
  font-size: 60px;
  color: #5d891b;
  font-weight: normal;
  margin-bottom: 10px;
}

#share_alert p, #donation_alert p {
  color: #5d891b;
  
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}

#embed {
  width: 1080px;
  position: absolute;
  top: 228px;
  height: 1690px;
}


/* ================  HOME  =================*/
.screensaver {
  position: fixed;
  background: #000000c7;
  height: 1920px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.no_ads {
    z-index: 20;
    z-index: 20;
    color: white;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.start_page {
    padding: 100px;
    width: 100px;
    height: 100px;
    z-index: 22;
}

.click_here {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(1.5);
}

.circle {
    background: white;
    opacity: .3;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
}

.circle1 {
    height: 100px;
    width: 100px;
    opacity: 1;
    z-index: 21;
    transition: transform .3s;
}

.circle2 {
    height: 100px;
    width: 100px;
    -webkit-animation: scaling 2.5s infinite ease-in-out;
}

.circle3 {
    height: 100px;
    width: 100px;
    -webkit-animation: scaling_two 2.5s infinite ease-in-out;
}


@-webkit-keyframes scaling {
  0%  { -webkit-transform: scale(1); }
  20%  { opacity: .3; }
    
  100% { opacity: 0; }
  100% { -webkit-transform: scale(2.5); }
}

@-webkit-keyframes scaling_two {
  30%  { -webkit-transform: scale(1); }
  20%  { opacity: .3; }
    
  100% { opacity: 0; }
  100% { -webkit-transform: scale(2.5); }
}


.choice_content {
  text-align: center;
  padding-top: 90px;
}

#home_screen, #screensaver {
  position: fixed;
  top: 0;
  width: 1080px;
  height: 1920px;
  left: 0;
  z-index: 1000;
  background-color: black;
}

#screensaver {
  display: none;
}

#home_img, #screensaver_img {
  display: none;
  width: 1080px;
  height: 100%;
}



.choice_content .small_intro {
  font-size: 25px;
}
.choice_content .small_intro.more_space {
    margin-bottom: 1%;
}
.choices.session a {
    margin-bottom: 24px;
    font-size: 30px;
    padding: 20px;
}
.choice_content .large_intro {
  font-size: 65px;
/*  margin-top: -24px;*/
  margin-bottom: 150px;
  font-family: 'proxima_novathin';
}
.choice_content .large_intro.tight_space {
    margin-top: -24px;
    margin-bottom: 1%;
}





/*@-webkit-keyframes bounce_five {
  70%, 90%  { -webkit-transform: translateY(0); }
    
  80% { -webkit-transform: translateY(-50px); }
}

@-webkit-keyframes bounce_six {
  80%, 100%  { -webkit-transform: translateY(0); }
    
  90% { -webkit-transform: translateY(-10px); }
}*/


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #45b848;
  height: 130px;
  display: none;
  justify-content: space-around;
  align-items: center;
}

footer img {
  height: 55px;
}

footer a:before {
  content: '';
  background-color: #45b848;
  border-radius: 100%;
  height: 156px;
  width: 180px;
  position: absolute;
  z-index: -1;
  top: -80px;
}

footer p {
  margin-top: 25px;
  font-size: 27px;
  letter-spacing: 3px;
  /*font-family: 'proxima_novabold';*/
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -44px;
  width: 250px;
}



.photos {
  height: 1690px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.background {
  height: 100vh;
  background-size: cover;
  background-image: url('../assets/img/photobooth_hero.jpg');
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  transition: background-color 1s;
}
.map_contain {
    width: 95%;
    margin: 0 auto;
}
.contain_highlights {
    width: 100%;
    margin: 0 auto;
}
.background_map {
    position: initial;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat
}
.background_flyer {
        position: initial;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 65vh;
    background-repeat: no-repeat
}
.background_scan {
    background-image: url('../assets/img/cts-hcc-resource-center.png');
    position: initial;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    margin-top: 10%;
}
.highlights {
    margin-top: 5%;
    margin-bottom: 5%;
}
.background_highlight {
       background-image: url('../assets/img/eventinvite_mini.jpg');
    position: initial;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat; 
}
.choice_content.map {
    padding-top: 0;
}

#photos {
  transition: opacity 1s, height .5s;
}

#video {
  object-fit: cover;
}

.photos img {
  padding: 45px 50px;
  height: 112px;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 1080px;
  width: 1080px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 1080px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}

.photos .button {
  position: absolute;
  margin-top: -54px;
}

#choose_picture {
  left: 120px;
  width: 280px;
}

#choose_gif {
  right: 120px;
  width: 280px;
  text-align: center;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/donate.png');
  background-position: center -165px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -382px;
  transition: color .5s;
}

input.donateinput {
  padding-left: 114px;
  width: 76.5%;
}

.inner_content {
  display: none;
  width: 100%; height: 100%;
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
}

.event_pics {
  background-size: cover;
  background-color: #45b848 !important;
  width: 100%;
  transition: opacity 1s, height .5s;
}

.event_pic {
  position: relative;
  height: 620px;
  width: 75%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 69px;
}


.about {
  background-size: cover;
  background-image: url('../assets/img/about_us.jpg');
  background-position: -3px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

.overlay {
  background-color: #45b848;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
}

.active {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  background-position: -2450px;
  margin-bottom: 0;
}




/*.orange {
  opacity: 0;
  height: 1690px;
  background-color: #E9D66B;  
  transition: opacity 1s, height 2s;
  position: absolute;
  bottom: 0;
}*/
.twitter_feed {
    position: relative;
}
.overlay_scroll {
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent;
    z-index: 999;
}
.twitter_feed .block {
    background: #000;
    height: 80px;
    margin-bottom: -75px;
    position:relative;
}






/*COGNIZANT CUSTOM CSS*/
a {
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
p.inverse {
    background: #fff;
    color:#000;
    border-radius: 50px;
    padding-top:4%;
    padding-bottom: 4%;
}
.home_schedule .intro_text,
.home_sessions .intro_text{
    position: fixed;
    background: #000;
    width: 100%;
    z-index: 9;
    top:0;
    padding-top: 20%;
}

.home_schedule .schedule_sessions,
.home_sessions .schedule_sessions {
    margin-top: 30%;
}
.intro_text p.inverse {
    width: 80%;
    margin-left:auto;
    margin-right: auto;
}
p.thin {
    letter-spacing: 3px;
    font-family: 'proxima_novathin';
    font-size: 32px;
}
p.small {
    font-size: 1.75em;
    letter-spacing: 2px;
}
p.green {
    color:#40ac42;
}
p.blue {
    color:#4298B5;
    font-size: 1.75em;
}
p.normal {
    text-transform: none;
}
header.inner_page a.lefty{
    float: left;
}
header.inner_page a.righty{
    float: right;
}

header.inner_page a.righty img {
    height: 54px;
    margin-top: 25px;
}


/*DEFAULT*/

/*Schedule page*/
.schedule_buttons {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
    display: flex;
}
.schedule_buttons.width_third {
    padding-top: 10%;
    padding-bottom: 0;
}
.schedule_buttons > div {
    flex: 1 0 auto;
    width: 22%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
}
.schedule_buttons.width_third > div {
        width: 29.3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.schedule_buttons > div {
    opacity: 0.35;
}
.schedule_buttons > div.active {
    opacity: 1;
}
.schedule_buttons > div p {
    height: 70%;
    padding-top:7%;
    padding-bottom: 7%;
    border:3px solid rgba(34, 193, 224, 1);
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    display: flex; justify-content: center; align-items: center;
}

.schedule_sessions {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20%;
}
.schedule_sessions.flyer {
    padding-top: 10%;
    width: 90%;
}
.schedule_sessions > div {
    text-align: left;
    padding-left: 5%;
    padding-bottom: 2%;
    margin-bottom: 4%;
}
.schedule_sessions.line_under > div {
    border-bottom: 3px solid rgba(255, 255, 255, 0.35);
}



/*ABOUT PAGE*/
.intro_inner {
    width:80%;
    margin: 0 auto;
    text-align: left;
    overflow: auto;
/*    padding-top: 20%;*/
}
.home_btn {
    color:#fff;
    padding: 10px 30px;
    background: #40ac42;
    font-size: 38px;
    text-transform: uppercase;
    
    float: right;
}
.intro_inner p.large_intro {
    margin-bottom: 5%;
}
.intro_inner p.large_intro.centered {
    margin-bottom: 0;
    text-align: center;
    padding-top: 10%;
}
.intro_inner p.large_intro.float_left {
    float: left;
}

/*SPEAKERS PAGE*/ 
.speakers_page {
  overflow-y: auto !important;
}

.choices.speakers {
/*    margin-bottom: 10%;*/
}
.choices.speakers a{
    text-align: left;
    padding: 0;
    height: 112px;
    width: 80%;margin-bottom: 5%;
    position: relative;
}
.choices.speakers a img {
    margin: 0 10% 0 0;
    height: 112px;
    border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
span.far_right {
    position: absolute;
    font-size: 75px;
    right:45px;
    
    font-family: 'proxima_novabold';
    color:#40ac42;
}
span.plus {
    top:11px;
}
span.minus {
    display: none;
    top:-10px;
}
.choices.speakers a p {
    width: 90%;
    margin: 75px auto 100px;
    font-family: 'proxima_novathin';
    line-height: 1.5em;
    font-size: 1.15em;
    display: none;
    
}

.normal.bio {
  padding-bottom: 200px;
}







/*  =============  TRIVIA PAGE  ==================  */
.trivia_content {
  display: none;
  transition: all .5s;
  padding-top: 200px;
}

.trivia_content .large_intro {
  font-size: 65px;
    color:#000;
    margin-bottom: 5%;
  font-family: 'proxima_novathin';
}
.trivia_content .small_intro {
    font-size: 42px;
    color:#000;
}
.trivia .title_holder p, .trivia .title_holder h1 {
  text-align: center;
}

.question { 
  padding: 50px 80px;
  background: white;
  margin: auto;
  width: 65%;
  margin-top: 63px;
  margin-bottom: 68px;
  border-radius: 25px;
  text-align: center;
  color: #000;
}

.question p {
  font-size: 35px;
  color: #000;
  line-height: 1.3;
    font-family: 'proxima_novaregular';
    letter-spacing: 1px;
}

.question h2 {
  color: #455267;
  font-family: 'proxima_novabold';
  letter-spacing: 1px;
  font-size: 40px;
  margin-bottom: -12px;
}

.answer, .answer_outcome {
  padding: 20px 80px;
  width: 65%;
  margin: auto;
  background: transparent;
  margin-bottom: 30px;
  border-radius: 25px;
  transition: opacity 2s ease-in-out;
  overflow: hidden;
}

.answer h2, .answer p, .answer_outcome h2, .answer_outcome p {
  display: inline-block;
  margin: 0;
  color: #fff;
  line-height: 1.3;
    letter-spacing: 2px;
    font-family: 'proxima_novathin';
}

.answer_outcome h2 {
  font-family: 'proxima_novabold';
}

.answer_outcome.correct h2, .answer_outcome.wrong h2 {
  color: white;
  font-size: 40px;
}

.answer h2 {
  font-family: 'proxima_novabold';
  font-size: 40px;
  margin-top: -2px;
}

.answer p, .answer_outcome p {
  margin-left: 25px;
  /*max-width: 461px;*/
}

.answer p {
  font-size: 32px;
}

.question .small_intro {
  font-size: 36px;
}

.submit, .retake {
  position: absolute;
  display: none;
  width: fit-content;
}

.back_home, .back_sports {
  position: absolute;
  background: transparent;
  margin: 0;
  transition: all .5s;
  top: 8px;
  left: -42px;
}

.back_home img, .back_sports img {
  transition: all .5s;
  margin-top: -42px;
}

.right_answer {
  width: 99%;
  font-size: 60px;
  text-align: center;
  color: white;
}

.question_holder {
  display: none;
  transition: margin-top 1s;
/*  margin-top: 200px;*/
}

.question_holder .submit {
  left: 50%;
}

.title_holder + .question_holder{
  display: block;
  margin-top: 0px;
}

.correct_info p {
  font-size: 30px;
}

.trivia_completion {
  display: none;
  padding-top: 200px;
  transition: padding-top .5s;
}

.answer img, .answer_outcome img {
  width: auto;
  height: 247px;
  position: absolute;
  right: 107px;
}

.trivia .title_holder {
  padding-top: 25px;
}

/*question1 */
/*
.trivia_content .question_holder:nth-of-type(1) .answer, .trivia_content .question_holder:nth-of-type(1) .answer_outcome {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  padding: 50px 80px;
}
*/
#primary_page_controller_wrapper > main > section > section.trivia_content.trivia > div:nth-child(1) {
     display: flex;
  align-items: flex-start;
  flex-grow: 1;
  padding: 50px 80px; 
    flex-direction: column;
}
.trivia_content .question_holder .answer, .trivia_content .question_holder .answer_outcome {
  padding: 50px 80px;
  background-color: transparent;
  height: auto;
        
            color: white;
    width: 70%;
    display: block;
    margin: auto;
    font-size: 33px;
    text-decoration: none;
    text-transform: uppercase;
    border: 4px solid #45b848;
    border-radius: 50px;
    padding: 27px;
    margin-bottom: 51px;
}



.trivia_content .question_holder .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.correct {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: rgb(141, 198, 63) !important;
}

.wrong {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: #dd0014 !important;
}





/*CUSTOM SUPPORT SELECT FORM*/
.formBox {
    width: 80%;
    margin: 0 auto;
}
#supportForm label {
    color:#fff;
    display: block;
    font-family: 'proxima_novathin';
    font-size: 38px;
    text-align: left;
    margin-bottom: 10px;
}
#supportForm input#fname {
     color: white;
    outline: 0;
    width: 100%;
    display: block;
    margin: auto;
    text-decoration: none;
    background-color: transparent;
    border: 0;
        border-bottom: 3px solid rgba(255, 255, 255, 0.35);
    border-radius: 0;
    padding: 27px;
    margin-bottom: 15%;
    letter-spacing: 1.5px;
    position: relative;
        letter-spacing: 2px;
    font-family: 'proxima_novathin';
    font-size: 38px;   
    box-sizing : border-box;
}
#supportForm select {
    color: white;
    outline: 0;
    width: 100%;
    display: block;
    margin: auto;
    text-decoration: none;
    background-color: transparent;
    border: 4px solid #45b848;
    border-radius: 0;
    padding: 27px;
    margin-bottom: 51px;
    letter-spacing: 1.5px;
    position: relative;
        letter-spacing: 2px;
    font-family: 'proxima_novathin';
    font-size: 38px;
}
#supportForm select option {
    background-color: #000;
}
#supportForm input[type=submit] {
        color: white;
    outline: 0;
    width: 400px;
    display: block;
    text-decoration: none;
    background-color: #45b848;
    border: 4px solid #45b848;
    border-radius: 0;
    margin-top: 60px;
    text-transform: uppercase;
    padding: 27px;
    letter-spacing: 1.5px;
    position: relative;
        letter-spacing: 2px;
    font-family: 'proxima_novathin';
    font-size: 38px;
}
#supportForm {
    position: relative;
}
select.supportList {
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
  background-image:url('../assets/img/down-arrow.png');
    background-size: 40px;
    background-position: 95% center;
    background-repeat:no-repeat;

}

.sponsor_logos {
    /*width: 90%;*/
    margin: 0 auto;
    display: none;
    background: #ffffffe6;
    width: 100%;
    position: relative;
    margin-top: 135px;
}
.sponsor_logos div {
/*
    width: 29.3%;
    margin-left: 2%;
    margin-right: 2%;
*/
    height: 180px;
/*    display: flex !important;*/
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.sponsor_logos img {
    margin: 0 auto;
    /* width: 80% !important; */
    height: 80px;
    width: auto !important;
}

.slick-list {
  padding-top: 0 !important;
}

.confirm {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 1080px;
  background-color: transparent;
}

#in_page_alert_wrapper_nofitication {
  position: absolute;
  top: 1260px;
  width: 100%;
  text-align: center;
}

#in_page_alert_wrapper_nofitication img {
  display: none !important;
}
/*
#supportForm:before {
    position: absolute;
    content: url('../assets/img/down-arrow.png');
    z-index: 9;
    right: 40px;
    top:50px;
}*/



/* ===========================  AVANGRID ==================================*/
.welcome {
  position: fixed;
  background-color: #5d891b;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3; 
}

.welcome img {
  height: 250px;
}

header {
  background-color: #5d891b;
  position: relative;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100px;
}

header a img {
  height: 50px;
}

.no_scroll {
  overflow: hidden;
}

.home_page .main {
  height: 1720px;
  width: 1080px;
  background-image: url(../assets/img/hero1.png);
  background-size: cover;
}

.choices {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 800px;
  z-index: 2;
  transition: padding 1s;
}

.choices a  {
  width: 41%;
  text-align: center;
  margin-bottom: 200px;
}

.choices a img {
  width: 300px;
  transition: transform .3s;
}

.choices a p {
  font-size: 44px;
  font-weight: bold;
  margin-top: 37px;
  color: #5d891b;
}

.choices a:nth-child(1) {  -webkit-animation: bounce_one 6s infinite ease-in-out; }
.choices a:nth-child(2) {  -webkit-animation: bounce_two 6s infinite ease-in-out; }
.choices a:nth-child(3) {  -webkit-animation: bounce_three 6s infinite ease-in-out; }
.choices a:nth-child(4) {  -webkit-animation: bounce_four 6s infinite ease-in-out; }
/*.choices a:nth-child(5) {  -webkit-animation: bounce_five 6s infinite ease-in-out; }
.choices a:nth-child(6) {  -webkit-animation: bounce_six 6s infinite ease-in-out; }*/


@-webkit-keyframes bounce_one {
  0%, 12.5%, 25%  { -webkit-transform: translateY(0); }
    
  6.25%, 19% { -webkit-transform: translateY(-30px); }
}

@-webkit-keyframes bounce_two {
  25%, 37.5%, 50%  { -webkit-transform: translateY(0); }
    
  31.25%, 44% { -webkit-transform: translateY(-30px); }
}

@-webkit-keyframes bounce_three {
  50%,  62.5% ,75%  { -webkit-transform: translateY(0); }
    
  56.25%, 69% { -webkit-transform: translateY(-30px); }
}

@-webkit-keyframes bounce_four {
  75%, 87.5%, 100%  { -webkit-transform: translateY(0); }
    
  81.25%, 94% { -webkit-transform: translateY(-30px); }
}

.intro {
  padding: 75px 50px;
}

.intro p {
  color: #153307;
  text-align: center;
}

.intro p.title {
  font-size: 53px;
  text-transform: uppercase;
  font-weight: 400;
}

.intro p:nth-child(2) {
  color: #5d891b;
}

.content {
  /*padding: 50px 30px;*/
  width: 100%;
  height: 1420px;
  overflow: hidden;
}

.feedback_page .content {
  height: 1417px;
}

.content.grey {
  background-color: #f2f2f2;
}

.teams {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.team {
  width: 49%;
  height: 1368px !important;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 50px;
}

.team > .holder {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.team > .banner {
  background-color: #5d891bb8;
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.team > .banner p {
  text-align: center;
  font-weight: 500;
  padding: 40px;
  font-size: 43px;
  text-transform: uppercase;
}

.person {
  background-size: cover;
  background-position: center center;
  margin: 1%;
  height: 557px;
  width: 30%;
  box-shadow: 0px 0px 13px #80808042;
}

.feedback_page .feedback {
  padding: 100px;
}

.feedback_page form input[type='text'], .feedback_page form textarea {
  padding: 30px;
  font-size: 30px;
  width: 92%;
  margin-bottom: 50px;
}

.feedback_page form input[type='text']:focus, .feedback_page form textarea:focus {
  outline: 2px solid #5d891b;
}

.feedback_page .feedback {
  padding-bottom: 400px;
}

.feedback_page form textarea {
  height: 500px;
}

.feedback_page .button {
  background-color: #5d891b;
  border: none;
  width: 100%;
}

.white {
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.agenda_page .agendas{
  padding: 100px;
}

.agenda_page .agendas .agenda {
  width: 93%;
  padding: 30px;
  color: #153307 !important;
  background-color: white;
  border: 2px solid #eaeaea;
  position: relative;
  margin-bottom: 20px;
}

.agenda_page .agendas .agenda p {
  color: #153307 !important;
  font-size: 37px;
  margin-top: 35px;
  line-height: 1.4;
  font-weight: 400;
}

.agenda_page .agendas .agenda p span {
  opacity: .5;
}

.agenda_page .agendas .agenda  p:nth-child(2) {
  color: #5d891b !important;
  position: absolute;
  margin-top: 0;
  top: 14px;
  left: 26px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

.agenda_page .content {
  overflow-y: auto;
}

.home_agenda .fas {
  position: absolute;
  bottom: 100px;
  font-size: 52px;
  background: #5c8a09;
  color: white;
  padding: 20px 30px;
  left: 0;
}

.home_agenda .fa-angle-down {
  left: auto;
  right: 0;
}

.teams .slick-next, .teams .slick-prev {
  background-image: url(../assets/img/right_arr.png) !important;
  background-size: 50px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  top: 50% !important;
  transform: translateY(-50%);
  right: 20px !important;
  font-size: 300px;
  left: auto !important;
  height: 100px;
  width: 100px;
}

.teams .slick-next:before, .teams .slick-prev:before { 
  display: none;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent !important;
  border: none;
  outline: none;
  background: transparent;
}

.teams .slick-prev {
  left: 15px !important;
  margin-top: -67px;
  transform: rotate(180deg);
}

.filters img.useImage {
  position: absolute !important;
  z-index: -2;
  opacity: 0;
}

.fa-info {
  background: transparent !important;
  color: #5c8a09 !important;
  opacity: .3;
  position: absolute;
  bottom: 0 !important;
  right: 0;
  font-size: 32px !important;
  left: auto !important;
}

.more_info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
  background-color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000000000;
}


.more_info .title {
  color: black;
  font-weight: bold;
  margin-top: 65px;
  font-size: 50px;
  margin-bottom: 17px;
  line-height: 1.3;
}

.more_info p {
  color: black;
  font-size: 40px;
  padding: 0 40px;
  text-align: center;
}

.team .more_info .title, .team .more_info p {
  max-width: 710px;
  text-align: left !important;
  color: white;
  width: 100%;
}

.more_info .fas {
  left: 50%;
  transform: translateX(-50%);
}

.team .more_info .fas {
  color: white;
  position: absolute;
  bottom: 50px;
  font-size: 83px;
}

.collab {
  max-width: 300px;
  width: 50%;
  margin-top: 100px;
}

.time_a {
  margin-bottom: 100px !important;
  color: #5b8b00 !important;
  font-size: 50px !important;
}

.team .fa-info {
  color: white !important;
  top: -10px;
  opacity: 1;
  align-items: center;
  display: flex;
  font-size: 64px !important;
  margin-right: 50px;
}

.smartcity_page p .fa-info {
  position: relative !important;
  top: 0;
  margin: 0;
  color: #5c8a09 !important;
  opacity: 1;
}

.stars {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.stars i {
  position: relative;
  font-size: 60px;
  margin: 10px;
  color: #5d891b;
  -webkit-animation: bounce 3s infinite;
}

/*@-webkit-keyframes bounce {
  0%, 100%{  -webkit-transform: scale(1); }

  50% { -webkit-transform: scale(5); }
}*/

.profile {
  width: 400px;
}


.fa-info {  -webkit-animation: info_bounce 3s infinite ease-in-out; }
/*.choices a:nth-child(5) {  -webkit-animation: bounce_five 6s infinite ease-in-out; }
.choices a:nth-child(6) {  -webkit-animation: bounce_six 6s infinite ease-in-out; }*/


@-webkit-keyframes info_bounce {
  0%, 30%  { -webkit-transform: scale(1); }
    
  15% { -webkit-transform: scale(1.5); }
}